<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <connectionStrings>
    <add name="local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=MyDataBase;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" />
    <add name="apphb" connectionString="Server=945d5870-0e70-44ae-bb5e-a3a0011fb625.sqlserver.sequelizer.com;Database=db945d58700e7044aebb5ea3a0011fb625;User ID=qhszjaufuelggoym;Password=rtjSA3oHVbBtBWA32qrkzTdx7FxXBzfvdKH2AKATeihvFCSaSGw8rWcEqUU4Dyfv;" />
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="local" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FluentNHibernate" publicKeyToken="8aa435e3cb308880" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>