@{
    PageData["title"] = "AngularJS SPA | Forgot Password";
}
<div class="row">
    <form class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-submit="forgotPassword()">
        <h2 class="text-center">Recover Password</h2>
        <div class="alert alert-success" role="alert" ng-show="ShowMessage">Se le envio un correo electronico para confirmar su contrasena</div>
        <div class="form-box">
            <div class="form-group">
                <input ng-model="user.Email" type="email" class="form-control" placeholder="Username or Email" required autofocus />
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Recover Password</button>
                <a href="/login" class="btn btn-primary btn-block">Go back to Login</a>
            </div>
        </div>
    </form>
</div>